h1 {
    text-align: center;
}
.container {
    display: flex;
    width: 540px;
    height: auto;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.square:hover {
    background-color: black;
}